.page{
    display: grid;
    grid-template: 10vh 80vh 10vh/ 1fr 4fr;
    grid-template-areas: 
    "header header" 
    "sidebar container"
    "footer footer";
}.header{
    background-color: rgb(103, 87, 103);
    color: white;
    font-size: x-large;
    text-align: center;
    grid-area: header;
}
.sidebar{
    background-color: aquamarine;
    grid-area: sidebar;
}
.button{
border-color: black;
}
.container{
    background-color: antiquewhite;
    grid-area: container;
}
.footer{
    background-color: cadetblue;
    grid-area: footer;
}
.drawingBoard{
    background-color: #f71818;
    height: 75vh;
    width: 75vh;
    display: flex; /*allows divs to stretch across the board*/
    flex-direction: column; /*directs the boxes to move laterally*/
    
}
.panel{
    background-color: blue;
    display: flex;
    flex: 1; /* 1 1 0; crates a square since the container is a square*/

}
.kpanel{
    background-color: rgb(35, 197, 84);
    display: flex;
    flex: 1; /* 1 1 0; crates a square since the container is a square*/

}