.page{
    display: grid;
    grid-template: 10vh 80vh 10vh/ 1fr 4fr;
    grid-template-areas: 
    "header header" 
    "sidebar container"
    "footer footer";
}.header{
    background-color: rgb(103, 87, 103);
    color: white;
    font-size: x-large;
    text-align: center;
    grid-area: header;
}
.sidebar{
    background-color: aquamarine;
    grid-area: sidebar;
}
.button{
border-color: black;
padding: 20px;
}
.container{
    background-color: antiquewhite;
    grid-area: container;
}
.footer{
    background-color: cadetblue;
    grid-area: footer;
}
.drawingBoard{
    background-color: #f6eeee;
    height: 400px;
    width: 400px;
    display: grid;
    border: 1px solid grey;
}



